*{
    margin: 0;
    padding: 0;
    background: skyblue;
}

body{
    div{
        width: 337px;
        height: 356px;
        background: skyblue;
        left: 190px;
        position: absolute;
        top: 140px;
    }
    }
